<EditForm Model="@ReservationRequest" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Parking Spot:</label>
            <div>
                <InputNumber @bind-Value="@ReservationRequest.ParkingspotId" class="form-control" />
                <ValidationMessage For="@(() => ReservationRequest.ParkingspotId)" />
            </div>
        </div>
        <div class="form-group">
            <label>User ID:</label>
            <div>
                <InputText @bind-Value="@ReservationRequest.UserRequestingIdAsString" class="form-control" />
                <ValidationMessage For="@(() => ReservationRequest.UserRequestingIdAsString)" />
            </div>
        </div>
        <div class="form-group">
            <label>Plate Number:</label>
            <div>
                <InputText @bind-Value="@ReservationRequest.PlateNumber" class="form-control" />
                <ValidationMessage For="@(() => ReservationRequest.PlateNumber)" />
            </div>
        </div>
         @* <div class="form-group">
            <label>Part of the day 0 - morning, 1 - evening</label>
            <div>
                <InputText @bind-Value="@ReservationRequest." class="form-control" />
                <ValidationMessage For="@(() => ReservationRequest.PlateNumber)" />
            </div>
        </div> *@
    </fieldset>
    @if (!Disabled)
        {
            <button type="submit" class="btn btn-success btn-block">
                @ButtonText
            </button>
        }
        <BackToList Target="reservationrequsets/" />
</EditForm>